.width-100 {
    width: 100% !important;
}

.width-70 {
    width: 70% !important;
}

.debug-border {
    border: 1px solid red;
}

.header-component {
    height: 49px;
}

.header-box-item {
    width: 249px;
    padding: 10px;
    border-radius: 0;
}

.commit-list-nav {
    width: 249px;
    height: calc(100vh - 51px);
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.file-list-nav {
    width: 270px;
    height: calc(100vh - 121px);
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
}

.title-file-header {
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.title-file-header > p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 12px;
}

 /*Thanh cuộn cho trình duyệt WebKit (Chrome, Safari)*/
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;/* Độ rộng của thanh cuộn */
}

*::-webkit-scrollbar-track {
    border-radius: 10px; /* Làm tròn nền của thanh cuộn */
}

*::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Màu của thanh cuộn */
    border-radius: 10px; /* Làm tròn thanh cuộn */
}

*::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; /* Màu của thanh cuộn khi hover */
}

/* Tùy chỉnh thanh cuộn cho Firefox */
* {
    scrollbar-width: auto; /* Làm cho thanh cuộn nhỏ hơn */
}

.height-49 {
    height: 49px;
}

.width-15 {
    width: 15% !important;
}

.description {
    color: #959da5 !important;
    font-size: 11px;
}
.icon {
    outline: none;
}

.commit-message-text{
    font-size: 12px;
    margin-bottom: -3px;
}

.commit-items {

}
.commit-items.selected {
    background-color: #0a53be;
    color: white;
}
.subnav-search-commit {
    padding: 10px 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
}

.file-list-nav > div {
    height: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: inherit;
}
.detail-commit-area {
    width: calc(100% - 249px);
    padding-left: 0;
    padding-right: 0;
}
.detail-commit{
    padding-left: 20px;
    width: 100%;
    height: 70px;
}
.commit-meta {
    display: flex;
    align-items: center;
    gap: 8px;
}

.visual-avatar {
    width: 24px;
    height: 24px;
}
.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px; /* Đảm bảo padding để SVG vừa gọn trong button */
    background-color: transparent; /* Hoặc màu nền tùy ý */
    border: none; /* Hoặc viền tùy ý */
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.copy-button svg {
    height: 16px; /* Đảm bảo kích thước SVG phù hợp */
    width: 16px;
}

.file-items {
    padding-top: 2px;
    padding-bottom: 2px;
}
.status-new {
    color: green;
}

.status-modified {
    color: #cca00c;
}

.status-renamed {
    color: blue;
}

.status-deleted {
    color: red;
}



/*css for intro page*/
/*:root {
    --background-light: #fff;
    --text-light: #333;
    --button-light: #f8f9fa;
    --button-border-light: #ddd;
    --protip-bg-light: #f9fcff;
    --protip-border-light: #61dafb;

    --background-dark: #181a23;
    --text-dark: #fff;
    --button-dark: #3c4048;
    --button-border-dark: #555;
    --protip-bg-dark: #333;
    --protip-border-dark: #61dafb;
}*/
.intro_section {
    margin: 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    min-height: 100vh;
    width: 100vw;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding-left: 100px;
    /*background: black;*/
    /*background: -webkit-radial-gradient(#555, #000);*/
    /*background: -moz-radial-gradient(#555, #000);*/
    /*background: -o-radial-gradient(#555, #000);*/
    /*background: radial-gradient(#555, #000);*/
    background: url('../images/stardust.png');
    /*background: radial-gradient(circle, #9e9595, #d3d3cd);*/
    animation: starPulse 4s infinite alternate;
}

.intro_section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.intro_section p.subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.intro_section .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    width: 300px;
}

.intro_section .protip {
    margin-top: 20px;
    padding: 15px;
    font-size: 0.9rem;
    text-align: center;
    border-width: 5px !important;
    width: 30vw;
    /*border-color: #d0dfff!important;*/
    /*background-color: #f2f5fe;*/
}
.intro_section .content-arial {
    width: 30vw;
}

.intro_section .recent-project {
    width: 30vw;
}

.intro_section button {
    height: 50px;
}

.sun-moon-rotation {
    height: 400px;
    left: calc(50%);
    position: absolute;
    top: calc(50% - 200px);
    width: 400px;
}
.sun-moon-rotation #sun {
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 30px white;
    height: 100px;
    left: 150px;
    position: absolute;
    top: 150px;
    width: 100px;
}
.sun-moon-rotation .orbit {
    border: solid;
    /*border-color: white transparent transparent transparent;*/
    border-color: grey transparent transparent transparent;
    border-radius: 50%;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(0deg);
    transform-origin: center;
}
.sun-moon-rotation .orbit#earth-orbit {
    -webkit-animation: orbit 36.5s linear infinite;
    animation: orbit 36.5s linear infinite;
    height: 300px;
    left: 50px;
    top: 50px;
    width: 300px;
}
.sun-moon-rotation .orbit#moon-orbit {
    -webkit-animation: orbit 2.7s linear infinite;
    animation: orbit 2.7s linear infinite;
    height: 80px;
    left: -25px;
    top: -25px;
    width: 80px;
}
.sun-moon-rotation .orbit .globe {
    border-radius: 50%;
    position: absolute;
}
.sun-moon-rotation .orbit .globe#earth {
    background: aqua;
    height: 30px;
    right: 28px;
    top: 28px;
    width: 30px;
}
.sun-moon-rotation .orbit .globe#moon {
    background: #d6d6d6;
    height: 12px;
    right: 2px;
    top: 8px;
    width: 12px;
}

@-webkit-keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

/*
css for dialog settings
*/
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Làm tối nền */
    backdrop-filter: blur(5px); /* Làm mờ nền (nếu được hỗ trợ) */
}

#settingsDialog {
    padding: 0;
    border: 1px solid #141414;
    border-radius: 6px;
    width: 600px;
    height: 550px;
    overflow-x: hidden;
    position: relative;
}

.dialog-header {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.dialog-header h1 {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
}

.appearance-section h2 {
    font-size: 14px;
    overflow: hidden;
}

.dialog-header button.close-button {
    outline: none;
}

#settingsDialog .tab-bar {
    height: calc(550px - 50px - 60px);
    /*width: 200px;*/
}

#settingsDialog form .tab-bar-item {
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
}

html[data-color-mode='dark'] #settingsDialog form .tab-bar-item:hover{
    background-color: #2f363d;
}

html[data-color-mode='light'] #settingsDialog form .tab-bar-item:hover{
    background-color: #f6f8fa;
}

#settingsDialog form .tab-bar-item.selected {
    background-color: #0366d6 !important;
    color: white;
}

#settingsDialog .radio-button-component {
    position: relative;
    width: calc(50% - 15px);
    border-radius: 5px;
    /*flex: 1 1 calc(50% - 30px);*/
}

#settingsDialog .radio-button-component img {
    width: 100%;
}

#settingsDialog .radio-button-component .theme-value-label {
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

#settingsDialog .radio-button-component input[type="radio"] {
    position: absolute;
    bottom: 12px;
    left: 10px;
}
#settingsDialog .radio-button-component .system-theme-swatch {
    position: relative;
    height: 94px;
    width: 100%;
}

#settingsDialog .radio-button-component .system-theme-swatch img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#settingsDialog .radio-button-component .system-theme-swatch img:first-child {
    clip-path: inset(0 50% 0 0); /* Cắt nửa phải của ảnh đầu tiên */
}

#settingsDialog .radio-button-component .system-theme-swatch img:last-child {
    clip-path: inset(0 0 0 50%); /* Cắt nửa trái của ảnh thứ hai */
}

#settingsDialog .dialog-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.circle-update-loading {
    position: fixed; /* Cố định vị trí */
    bottom: 20px; /* Cách cạnh dưới 20px */
    right: 20px; /* Cách cạnh phải 20px */
    width: 60px; /* Chiều rộng hình tròn */
    height: 60px; /* Chiều cao hình tròn */
    /*background-color: #2ea44f;*/ /* Màu nền */
    border-radius: 50%; /* Tạo hình tròn */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng cho hình tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ (nếu cần thêm nội dung) */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi hover */
}

.circle:hover {
    background-color: #22863a; /* Đổi màu khi hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Tăng hiệu ứng bóng */
}

.update-progress {
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
    position: fixed; /* Cố định vị trí */
    bottom: 30px;
    right: 80px;
    width: calc(100vw - 120px);
}

.update-progress.dark {
    /*box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);*/
}

.update-progress .progress-bar {
    height: 10px;
    background-color: #2ea44f; /* Màu xanh lá */
    transition: width 0.2s ease-in-out; /* Hiệu ứng chuyển động */
    border-radius: 15px;
}

